# Xcode
build/
DerivedData/
*.xcodeproj/
!project.yml
*.xcuserdata/
*.xcuserstate
xcuserdata/
xcshareddata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Package.resolved
.swiftpm/

# macOS
.DS_Store

# Tools
.sourcekit-lsp/
.vscode/
.env
.env.*
